In [1]:
a="Trouble"

In [3]:
print(a[0:3])

Tro

In [5]:
print(a[4:7])

ble

In [6]:
l1=("Hello", "How", "Are")

In [7]:
print(l1)

('Hello', 'How', 'Are')

In [8]:
print(l1[1])

How

In [56]:
T1= {'Hello', 'How', 'Are'}

In [58]:
print(T1)

{'Hello', 'How', 'Are'}

In [59]:
str1 = ('a')

In [61]:
str2 = {'b','a','c'}

In [62]:
str1 in str2

True

In [45]:
city_temperature ={
    "Richmond":81, 
    "Charlottesville":75, 
    "Arlington":50
}

In [46]:
print('city_temperature[Charlottesville] =', city_temperature.get('Charlottesville'))

city_temperature[Charlottesville] = 75

In [47]:
city_temperature[Charlottesville] = 101

In [50]:
cities =list(city_temperature.keys())
print('cities:',cities)

cities: ['Richmond', 'Charlottesville', 'Arlington']

In [21]:
A = "The quick brown fox jumped over the lazy dogs."

In [26]:
A1 = A.replace(".","")

In [28]:
print(A1)

The quick brown fox jumped over the lazy dogs

In [29]:
A2= A1.lower()

In [30]:
print(A2)

the quick brown fox jumped over the lazy dogs

In [34]:
A3 = sorted(set(A2.split()))

In [35]:
print(A3)

['brown', 'dogs', 'fox', 'jumped', 'lazy', 'over', 'quick', 'the']