In [8]:
Student Info
## Name:    Ade Faparusi
## Net ID:   vvk6rd
## URL of this file in GitHub:
## "https://github.com/vvk6rd/DS5100-2023-08-O/blob/main/modules/m02/hw02.ipynb"

In [8]:
## Task 1: Using the data in Table 1, create a dictionary called gradebook where the keys contain the names 
## and the values are the associated grades. Print the dictionary. 

gradebook = {'Jon':95, 
             'Mike':84, 
             'Jaime':99
            }

print(gradebook)

{'Jon': 95, 'Mike': 84, 'Jaime': 99}

In [4]:
## Task 2: Index into the gradebook to print Mike's grade. Do NOT use the get() method for this. 

print(gradebook['Mike'])

84

In [5]:
## Task 3: Attempt to index into gradebook to print Jeff's grade. Show the result. Do NOT use the get() method for this.

print(gradebook['Jeff'])

KeyError: 'Jeff'

In [6]:
## Task 4: Using Table 2, build a list from the names called names and print it. 

names = ["Alex","Patrick", "Tom", "Joe", "Alex"]
print(names)

['Alex', 'Patrick', 'Tom', 'Joe', 'Alex']

In [7]:
## Task 5:Sort the list in ascending order and print it 

names.sort()
print(names)

['Alex', 'Alex', 'Joe', 'Patrick', 'Tom']

In [9]:
## Task 6: Build a set from the names in Table 2 and print it. (1 PT)

names_set = {"Alex","Patrick", "Tom", "Joe"}
print(names_set)

{'Alex', 'Joe', 'Patrick', 'Tom'}

In [11]:
## Task 7: Build a dictionary from the touchdowns data, calling it td, and print it. Use lists to store the values. 
## Remember that dictionary keys must be unique.


td = {'Alex': [2,1],
      'Patrick': [4],
      'Tom': [1],
      'Joe': [3]
     }

print(td)

{'Alex': [2, 1], 'Patrick': [4], 'Tom': [1], 'Joe': [3]}

In [13]:
## Task 8: Compute the sum of Alex's touchdowns using the appropriate built-in function.

sum(td['Alex'])

3

In [26]:
## Task 9: Get the keys from td and save them as a sorted list list1. Then get a set from names and save them as a sorted list called list2. 
## Compare them with a boolean operator to see if they are equal. 

list1 = list(td.keys())
list1.sort()
print(list1)

names_set = {"Alex","Patrick", "Tom", "Joe"}
list2 = list(names_set)
list2.sort()
print(list2)

list1==list2  ##Comparing with a boolean operator gives True

['Alex', 'Joe', 'Patrick', 'Tom']
['Alex', 'Joe', 'Patrick', 'Tom']

True