In [1]:
## Qn 1: 

val = -2

if -10 < val < -5:
    print('bucket 1')
elif -5 <= val < -2:
    print('bucket 2')
elif val == -2:
    print('bucket 3')

bucket 3

In [2]:
## Qn 2:

xx = [-2, 8,0,5,6]
max_xx = max(xx)

for i in xx:
    if i < max_xx:
        print(i)
    else:
        print('max_val')

-2
max_val
0
5
6

In [3]:
## Qn 3

it = 0
max_iter = 100
while it < max_iter: 
    if (it % 10 == 0):  
        print (it);
    it = it + 1

0
10
20
30
40
50
60
70
80
90

In [5]:
## Qn 4
names = ['MICHAEL', 'PAUL', 'TIMOTHY', 'RICHARD']

for name in names:
    print(name.lower())

michael
paul
timothy
richard

In [6]:
## Qn 5
list_names = iter (names)
print(next(list_names))
print(next(list_names))
print(next(list_names))
print(next(list_names))

MICHAEL
PAUL
TIMOTHY
RICHARD

In [10]:
## Qn 6

city_dict = {'Richmond': 23233,
             'Glen Allen': 23059    
}

for city, zip in city_dict.items():
    print(city, zip)

Richmond 23233
Glen Allen 23059

In [11]:
## Qn 7

city_dict = {'Richmond': 23233,
             'Glen Allen': 23059    
}

for city in city_dict:
    print(city,city_dict[city] )

Richmond 23233
Glen Allen 23059

In [14]:
## Qn 8

number_list = [1,2,3,4,5]
list_cubes = [numbers_1**3 for numbers_1 in number_list]
list_cubes

[1, 8, 27, 64, 125]

In [17]:
## Qn 9

string_example = ['blue', '84', '46', 'green', 'red', '23', 'yellow']
numbers_list = [val for val in string_example if val.isdigit()]
numbers_list

['84', '46', '23']

In [20]:
## Qn 10

grid = {
    'max_depth': [5,10], 
    'ntrees': [100,200,300],
    'regularization': [11,12],
    'max_iter': [10,20]
}

max_key ={key:grid[key] for key in grid.keys() if 'max' in key}
max_key

{'max_depth': [5, 10], 'max_iter': [10, 20]}